<header>
    <section class="alextina">
        <div></div>
        <h3 (click)="sharedSvc.goToHome()">alextina</h3>
    </section>
    <nav>
        <ul class="navegation">
            <li><a (click)="sharedSvc.goToHome()">Inicio</a></li>
            <li><a (click)="sharedSvc.goToProjects()">Portafolio</a></li>
            <li><a (click)="sharedSvc.goToContact()">Contáctame</a></li>
        </ul>
        <ul class="social-icons">
            <a target="_blank" href="https://linkedin.com/in/alextina"><i class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/alextina"><i class="fa-brands fa-github"></i></a>
        </ul>
        <span class="material-icons theme">
            light_mode
        </span>
    </nav>
</header>