<footer>
    <section class="footer-contentainer">
        <a target="_blank" href="mailto:castilloavilaa@gmail.com">castilloavilaa@gmail.com</a>
        <ul class="social-links">
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/alextina/">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/alextina">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <p>&copy; 2023 alextina. Todos los derechos reservados.</p>
    </section>
    <section class="social">
        <ul>
            <li><a (click)="this.sharedSvc.goToHome()">Inicio</a></li>
            <li><a (click)="this.sharedSvc.goToProjects()">Proyectos</a></li>
        </ul>
    </section>
</footer>