footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--dark-color);
    /* padding: 50px 0; */
    padding: 25px 0;

}

article {
    width: 30%;
    padding: 0 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    color: var(--light-color);
}

.social-icons {
    width: 10px;
}


.fa-brands {
    font-size: 15px;
}

.material-icons {
    font-size: 16px;
}

.location {
    padding: 25px;
}