footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--dark-color);
    padding: 25px 0;
}

article {
    width: 30%;
    padding: 0 20px;
}

p {
    padding-left: 40px;
    line-height: 1.75;
}

h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    color: var(--light-color);
}

.social-icons {
    width: 10px;
    flex-direction: row;
}


.fa-brands {
    font-size: 15px;
    color: var(--accent-color);
    margin-right: 5px;
}

.material-icons {
    color: var(--accent-color);
    margin-right: 5px;
}