<footer>
    <article>
        <h4>Navegación</h4>
        <ul>
            <li><a (click)="sharedSvc.goToHome()">Inicio</a></li>
            <li><a (click)="sharedSvc.goToProjects()">Portafolio</a></li>
        </ul>
    </article>
    <article>
        <h4>Contáctame</h4>
        <ul>
            <li><a target="_blank" href="mailto:castilloavilaa@gmail.com">castilloavilaa@gmail.com</a></li>
            <li><a target="_blank" href="https://linkedin.com/in/alextina"><i class="fa-brands fa-linkedin"></i>
                    LinkedIn</a></li>
            <!-- <li><a target="_blank" href="https://github.com/alextina"><i class="fa-brands fa-github"></i>
                    GitHub</a></li> -->

        </ul>
    </article>
    <article>
        <section class="alextina">
            <div></div>
            <h3 (click)="sharedSvc.goToHome()">alextina</h3>
        </section>
    </article>
</footer>