<section class="contact-container">
    <h1>Contáctame</h1>
    <div class="contact-icons">
        <a href="mailto:castilloavilaa@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://linkedin.com/in/alextina" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://t.me/alextina_pe" target="_blank"><i class="fa-brands fa-telegram telegram"></i></a>
    </div>
    <form action="https://formsubmit.co/castilloavilaa@gmail.com" method="POST">
        <div class="data">
            <input type="text" name="name" placeholder="Nombres y Apellidos" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
        </div>
        <textarea class="mensaje" name="message" placeholder="Mensaje" rows="6" required></textarea>
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="https://alextina.pe/sent-message">
        <button type="submit">Enviar</button>
    </form>
</section>