.contact-container {
    width: 100%;
    min-height: 85vh;
    height: auto;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.fa-solid,
.fa-brands {
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
}

.fa-telegram {
    font-size: 30px;
}

.telegram {
    color: var(--accent-color);
    background-color: var(--bg-color);
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

input {
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    /* border: 1px solid var(--accent-color); */
    color: var(--font-color-2);
    font-size: var(--p-size);
}

textarea {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    /* border: 1px solid var(--accent-color); */
    color: var(--font-color-2);
    font-size: var(--p-size);
    resize: none;
}

/* Personalización del scroll */
.mensaje::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scrollbar */
}

.mensaje::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* Color del thumb (barra de desplazamiento) */
    border-radius: 10px;
    /* Borde del thumb */
}

.mensaje::-webkit-scrollbar-track {
    background-color: var(--main-color);
    /* Color del track (fondo del scrollbar) */
    border-radius: 10px;
    /* Borde del track */
}

button:disabled {
    background-color: var(--dark-color);
    color: gray;
    border: solid 1px var(--dark-color);
}

.contact-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.error {
    font-size: var(--p-size);
    color: var(--accent-color);
    text-align: left;
}

.sending-message {
    font-size: var(--p-size);
    text-align: left;
    color: var(--font-color-1);
}

.success-message {
    font-size: var(--p-size);
    text-align: left;
    color: var(--font-color-1);
}

.sent-button {
    width: auto;
    padding-left: 20px;
}

@media (max-width: 750px) {

    form {
        width: 90%;
    }

}