.contact-container {
    width: 100%;
    min-height: 85vh;
    height: auto;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    color: var(--accent-color);
}

.contact-icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.fa-solid,
.fa-brands {
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
}

.fa-telegram {
    color: var(--red-color);
    font-size: 30px;
}

.telegram {
    color: var(--main-color);
    background-color: var(--dark-color);
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

input {
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: var(--p-size);
}

textarea {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: var(--p-size);
    resize: none;
}

button {
    align-self: flex-end;
}

/* Personalización del scroll */
.mensaje::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scrollbar */
}

.mensaje::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* Color del thumb (barra de desplazamiento) */
    border-radius: 10px;
    /* Borde del thumb */
}

.mensaje::-webkit-scrollbar-track {
    background-color: var(--main-color);
    /* Color del track (fondo del scrollbar) */
    border-radius: 10px;
    /* Borde del track */
}

@media (max-width: 750px) {

    form {
        width: 90%;
    }

}