<section class="projects-container">
    <section class="info">
        <h1>Últimos Proyectos</h1>
        <p>Estos son los 3 últimos proyectos que desarrollé durante el Bootcamp de Laboratoria.</p>
    </section>
    <section class="projects">
        <article *ngFor="let project of displayedProjects" (click)="openRepository(project.html_url)">
            <div>
                <img [src]="getProjectImageUrl(project.name)">
                <h4>{{ project.name }}</h4>
                <p>Tecnologías: <br> {{ project.topics.join(' / ') }}</p>
            </div>
        </article>
    </section>
    <button (click)="this.sharedSvc.goToProjects()">Ver todos los proyectos</button>
</section>