* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: var(--light-color);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --main-color: #a78abf;
    --dark-color: #282a36;
    --accent-color: #ed6d96;
    --light-color: #d8c5e7;
    /* fuentes */
    --h1-size: 36px;
    --h2-size: 28px;
    --h3-size: 22px;
    --h4-size: 16px;
    --h5-size: 14px;
    --h6-size: 14px;
    --p-size: 14px;
    --a-size: 14px;
    --small-size: 12px;
}

html,
body {
    background-color: var(--dark-color);
}

h1,
h2,
h3 {
    font-family: 'Varela Round', sans-serif;
}

/* Estilos para encabezados */
h1 {
    font-size: var(--h1-size);
    font-weight: 800;
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
    font-weight: 600;
}

h6 {
    font-size: var(--h6-size);
    font-weight: 400;
}

/* Estilos para el cuerpo del texto */
p {
    text-align: center;
    font-size: var(--p-size);
    line-height: 1.5em;
}

a {
    font-size: var(--a-size);
    cursor: pointer;
}

small {
    font-size: var(--small-size);
}

/* Estilos para listas */
ul,
ol {
    font-size: var(--a-size);
    line-height: 1.5em;
    padding: 10px;
}

li {
    padding: 5px 0;
}

.alextina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.alextina div {
    width: 30px;
    height: 30px;
    background-image: url('assets/alextina-photo-logo.png');
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.alextina h3 {
    cursor: pointer;
    color: var(--accent-color);
    line-height: 0;
}

button {
    font-size: var(--h4-size);
    background-color: var(--dark-color);
    border: solid 1px var(--accent-color);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--dark-color);
}

.social-icons {
    flex-direction: row;
}


.fa-brands {
    color: var(--accent-color);
}

.material-icons {
    color: var(--accent-color);
    font-size: 16px;
}

/* projects y last-projects */
.projects-container {
    width: 100%;
    min-height: 85vh;
    height: auto;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--accent-color);
    margin-bottom: 15px;
}

.projects p {
    color: var(--dark-color);
    margin: 15px;
}

.info a {
    color: var(--main-color);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

.projects article {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.projects article div {
    flex: 1 0 auto;
    display: flex;
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.material-icons {
    cursor: pointer;
    font-size: 30px;
}

@media (max-width: 770px) {


    /* projects y last-projects */
    .projects-container {
        gap: 50px;
    }

}