<section class="home-container">
    <section class="image-container">
        <img src="../../assets/alextina-photo.jpg" alt="alextina-photo">
    </section>
    <section class="text-container">
        <section class="info">
            <h1>Alejandra Castillo</h1>
            <h3>Front-End Web Developer</h3>
        </section>
        <div class="tools">
            <img *ngFor="let tech of techList" [src]="tech" alt="tech">
        </div>
        <div class="buttons">
            <button (click)="this.sharedSvc.goToProjects()">Ver proyectos</button>
        </div>
    </section>
</section>
<app-last-projects></app-last-projects>
<app-contact></app-contact>