<section class="home-container">
    <section class="image-container">
        <img src="../../assets/alextina-photo.jpg" width="350px" alt="alextina-photo">
    </section>
    <section class="text-container">
        <section class="info">
            <h1>Alejandra Cristina Castillo Avila</h1>
            <h2>Front-End Developer</h2>
        </section>
        <div class="tools">
            <img src="../../assets/js.png">
            <img src="../../assets/html.png">
            <img src="../../assets/css.png">
            <img src="../../assets/ts.png">
            <img src="../../assets/nodejs.png">
            <img src="../../assets/angular.png">
            <img src="../../assets/firebase.png">
            <img src="../../assets/jest.png">
            <img src="../../assets/cmder.png">
            <img src="../../assets/vs-code.png">
            <img src="../../assets/replit.png">
            <img src="../../assets/git.png">
            <img src="../../assets/github.png">
            <img src="../../assets/figma.png">
            <img src="../../assets/ps.png">
            <img src="../../assets/ai.png">
            <img src="../../assets/zoom.png">
            <img src="../../assets/slack.png">
        </div>
        <button (click)="this.sharedSvc.goToProjects()">
            Proyectos
        </button>
    </section>
</section>
<app-projects></app-projects>
<app-contact></app-contact>